.bg-darkblue, .btn-darkblue {
	background: #000040;
	color: #fff;
}

.nav-link.active {
	background: #000040 !important;
	color: #fff !important;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.mt-7 {
	margin-top: 70px;
}


.carousel-caption {
	position: absolute;
	height: 200px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background: rgba(0, 0, 0, 0.4); /* Adicione um plano de fundo semitransparente se desejar */
	padding: 20px;
	color: white; /* Cor do texto */
  }


